<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" ng-controller="NavbarCtrl">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand"  style="margin-top: -7px;" href="/Admin">
            <img alt="Brand" src="./images/logo.gif">
        </a>

        <a class="navbar-brand" href="/Admin">数据中心在线编辑系统</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right" ng-if="$root.me">

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" >
                <i class="fa fa-user fa-fw"></i>
                <i ng-if="$root.me">{{$root.me.user}}</i>
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user" >
                <li><a href="#/"><i class="fa fa-user fa-fw" ></i>用户设置</a>
                </li>
                <!--
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                -->
                <li class="divider"></li>
                <li><a ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i>登出</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation" ng-if="$root.me" ng-init="initMetisMenu()">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

                <li class="sidebar-search">
                    <div class="input-group custom-search-form has-feedback has-feedback-left">
                        <input type="text" class="form-control" placeholder="Search..." ng-model="search">
                        <i class="form-control-feedback glyphicon glyphicon-search"></i>
                    </div>

                </li>

                <!-- <li>
                     <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                 </li> -->
                <li ng-show="$root.me.fileReader">
                    <a id="navTable" href="/Admin/#/" ng-init="siderNavBarInit()"><i class="fa fa-table fa-fw" ></i> 报表<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level pre-scrollable" style="max-height:550px;">
                        <li>
                            <a href="#/" ng-repeat="file in files | filter : search"  ng-click="loadFile(file.filename)">{{file.filename}}
                                <i ng-if="file.locked != 'unlocked'" class="fa fa-lock" ></i>
                                <i ng-if="file.locked == $root.me.user" class="fa fa-user" ></i>
                            </a>
                        </li>
                        <li class="nav-divider"></li>
                        <li ng-show="$root.me.others.includes('createFile') ||
                            $root.me.others.includes('deleteFile')">
                            <a href="#/tableConfig"><i class="fa fa-cog"></i>&nbsp;&nbsp;设&nbsp;置</a>
                        </li>
                    </ul>
                </li>
                <li ng-show="$root.me.others.includes('RoleEditAndAuth')">
                    <a href="/Admin/#/"><i class="fa fa-user fa-fw" ></i>用户管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level pre-scrollable" style="max-height:550px;">
                        <li>
                            <a href="#/usersAuth">用户授权</a>
                        </li>
                        <li>
                            <a href="#/roleEdit">角色权限管理</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
<!-- /#page-wrapper -->