<div id="page-wrapper">

    <div class="row" style="padding-top:20px">

        <div class="col-lg-6" ng-show="isIncludes($root.me.others, 'createFile')">
            <div class="panel panel-default">
                <div class="panel-heading">
                    创建报表
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form role="form"  ng-submit="submit()">
                                <div class="form-group">
                                    <label>表名</label>
                                    <input type="text" required class="form-control" ng-model="name" placeholder="新建表名">
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="fileuploadChecked">我要上传Excel做为数据源
                                        </label>
                                    </div>
                                    <input type="file" ng-disabled="!fileuploadChecked" required accept=".xls,.xlsx,.ods" file-model="myFiles" multiple="false">
                                </div>


                                <div ng-include="'./pages/elements/messagebox.html'"></div>
                                <button type="submit" class="btn btn-success">提交</button>
                                <button type="reset" class="btn btn-default">重置</button>
                            </form>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-lg-6" ng-show="isIncludes($root.me.others, 'deleteFile')">
            <div class="panel panel-default">
                <div class="panel-heading">
                    删除报表
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form role="form"  ng-submit="deleteFileSubmit()">
                                <div class="form-group">
                                    <label>选择要删除的报表</label>
                                    <select multiple ng-model="deleteFiles" class="form-control">
                                        <option ng-repeat="filename in filenames">{{filename}}</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-success">删除</button>
                            </form>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->