<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">报表视图 <a class="btn btn-primary pull-right" href="#/tableConfig"><i class="fa fa-cog"></i>设置</a> </h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-success">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="">{{file.Sheets[0].name}}</a></li>
                    <li ng-repeat="sheet in file.Sheets.slice(1)"><a data-toggle="tab" href="" >{{sheet.name}}</a></li>
                </ul>

                <div class="panel-heading" ng-if="file.MTime">
                    最后修改时间:&emsp;{{ str2date(file.MTime) }}&emsp;	by:&nbsp; {{file.MUser}}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div>
                        <div class="row-fluid">
                            <div class="span12">
                                <div id="grid1" ui-grid="gridOptions" class="grid"  ui-grid-pagination ui-grid-exporter  ui-grid-edit ui-grid-selection ui-grid-resize-columns></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->

            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

</div>
